// If you want to override variables do it here
@import 'variables';

// Import styles
@import '@coreui/coreui/scss/coreui';

// Vendors
@import 'vendors/simplebar';

// Custom styles for this theme
@import 'theme';

// If you want to add custom CSS you can put it here
@import 'custom';
// alert
.success-alert {
  position: fixed;
  top: 10px;
  right: 5px;
  z-index: 10000;
}
.message-width {
  width: 60%;
}
@media (min-width: 1900px) {
  .message-width {
    width: 72%;
  }
}
